{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/style_login.css" %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
</head>
<body>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="icon-bar">
		<a class="active" href="/blog"><i class="fa fa-home"></i></a> 
		<!--<a href="/blog"><i class="fa fa-search"></i></a>--> 
		<a href="cadAnimais"><i class="fa fa-plus"></i></a> 
		<a href="sobre"><i class="fa fa-info"></i></a>
		<a href="login"><i class="fa fa-user"></i></a> 
	</div>
  <div class="container">
    <img src="{% static 'img/reg.png' %}">
    <form  method="POST"> {% csrf_token %}
      <div class = "form-input">
        {{ form.as_p }}
        <input type="submit" name="enter" value = "OK" class="btn-login">
      </div>
      </form>
      <br>
      <a href="cadastro">Cadastrar novo usuário</a>
    
  </div>
</body>
</html>
