<!DOCTYPE html>
<html>
<head>
	<title>Sobre</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/post_style.css' %}">
</head>
<body>
	<ul>
		<li><a href="/blog">Fauna Watching</a></li>
		<!--<li><a href="/blog">Consulta</a></li>-->
		<li><a href="cadAnimais">Cadastro de Animais</a></li>
		<!--<li><a href="cadBiomas">Cadastro de Biomas</a></li>-->
		<li><a href="sobre">Sobre</a></li>
		<!--<li><a href="/blog">Perfil</a></li>-->
		<li><a href="login">Usuario</a></li>
	</ul>
	<h1>Sobre</h1>
	<li>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
	totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
	sunt explicabo. Nemo carpe diem enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
	consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui 
	dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
	incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum 
	exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem 
	vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
	dolorem eum fugiat quo voluptas nulla pariatur?"</li>
</body>
</html>